.auth__btn {
  padding: 10px;
  font-size: 0.875rem;
  margin-bottom: 10px;
  border: none;
  border-radius: 12px;
  color: white;
  background-color: #6524ff;
}

.auth__btn-google {
  background-color: #4285f4;
}

.auth__btn-kakao {
  background-color: #fee500;
  color: rgba($color: #000, $alpha: 85%);
}

.auth__btn-icon {
  position: relative;
}

.auth__icon {
  position: absolute;
  left: 0.83em; // [ ]:정확한 기준 찾아야함
  width: 1.125rem;
  height: auto;
  margin-left: 8px;
  margin-right: 8px;

  svg {
    width: 100%;
    height: auto;
  }
}
